#cool_header_block{
    position: fixed; top: 0px; left: 0px;
    width: 100%;
    height: 45px;
    background: #6b6b6b;
    z-index: 10001;
    display: none;
    font-family:sans-serif;
    opacity: 1.0;
}
#cool_header_block_content{
    margin: 0 auto;
    max-width: 1000px;
}
#cool_header_block_content>div{
    float: left;
}

#cool_header_block_content>.cool-header-up{
    float: right;
}

.cool-header-up>a{
    margin-top: 0px;
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 16pt;
    position: relative;
    z-index: 10;
    color: #fff;
    height: 45px;
    border: 0px solid #000000;
    width: 45px;
}

.cool-header-up>a:hover{
    background: #9c9c9c;
}

.ya-share2{
    margin-top: 7px !important;
}

.ya-share2__icon{
    width: 29px !important;
    height: 29px !important;
}
.ya-share2__item{
    margin-right: 10px !important;
}
.ya-share2__counter{
    font-size: 15px !important;
    line-height: 24px !important;
    padding: 2px 8px !important;
}

#cool_header_block #like_post {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}

#cool_header_block #like_post input {

    background: #006c9e;
    margin-left: 3px;
    position: relative;
    top: 2px;
    color: #fff;
    text-transform: uppercase;
    font: 14px Arial;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 4px 10px 4px 16px;

    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 29px;
}

#cool_header_block #like_post input:hover{
    background: #008ecf;
}
#cool_header_block #like_post .like_post_count{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    height: 29px;
    width: 29px;
    background: #fff;
    border: none;
    padding-top: 6px;
    padding-bottom: 7px;
    margin-left: 0;
}
.cool-header-question>a{
    color: #fff;
    background: #83bc37;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    margin-top: 1px;
    float: left;
    position: relative;
    z-index: 10;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    text-transform: uppercase;
    font: 14px Arial;
    font-weight: bold;
}

.cool-header-question>a:hover {
    background: #88c537;
}

.cool-header-question{
    text-transform: uppercase;
    font: 14px Arial;
    font-weight: bold;
}

.cool-header-toc{
    float: left;
    height: 50px;
    min-width:300px;
}

.cool-header-show-hide{
    margin-top: 8px;
    margin-left: 20px;
    height: 29px;
    color:#fff;
    background: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 260px;
}

#cool_header_block_content>div.cool-header-question{
    margin-top: 6px;
    float: right;
    margin-right: 10px;
}

.cool-header-toc-elmnts{
    position: absolute;
    background: #ccc;
    top: 45px;
}
.cool-header-ask{
    font-family:sans-serif;

}
#cool-header-logo{
    margin-top: 5px;
}
#cool-header-logo a img{
    height: 30px;
    margin-top: 1px;
    width: auto;
}

#cool-header-arrow{
    float: right;
    color: #fff;
    background: #000;
    height: 29px;
    padding-top: 6px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 5px;
    position: relative;
    top: -30px;
}

#cool-header-text-toc{
    float: left;
    padding-top: 6px;
    padding-left: 8px;
    width:100%;
    font: 14px Arial;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
}

.cool-header-toc-elmnts ul li a.active{
    color: #006c9e;
}
#cool-header-text-toc:after {
    z-index: 5;
    content: '';
    display: block;
    height: 45px;
    position: relative;
    width: 45px;
    float: right;
    right: 20px;
    top: -40px;
    background: -webkit-linear-gradient(left, rgba(99, 92, 87, 0), rgb(17, 17, 17));
    background: -o-linear-gradient(right, rgba(99, 92, 87, 0), rgb(17, 17, 17));
    background: -moz-linear-gradient(right, rgba(99, 92, 87, 0), rgb(17, 17, 17));
    background: linear-gradient(to right, rgba(99, 92, 87, 0), rgb(17, 17, 17));
}

.cool-header-toc-elmnts ul, .cool-header-toc-elmnts li{
    width: 100%;
}
.cool-header-toc-elmnts ul li a{
    display: block;
    font: 14px Arial;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

}

.cool-header-toc-elmnts>.toc_widget_list>li:first-child>a:first-child{
    padding-top:20px;
}
.cool-header-toc-elmnts>.toc_widget_list>li:last-child a{
    padding-top: 10px;
    padding-bottom: 20px;
}

.cool-header-toc-elmnts ul li a:hover{
    background: #ffffff;
}

@media (max-width: 899px) {
    #like_post input {
        width: 20px !important;
    }
    #cool_header_block #like_post input {
        width: 30px;
        height: 30px;
        color: #fff !important;
        position: relative;
        font-size: 0px;
        color: #0171a1 !important;
        background: url('live_ico.png') left 5px top 8px no-repeat #006c9e;
    }

    #cool_header_block #like_post input:hover{
        color: #008ecf !important;
        background: url('live_ico.png') left 5px top 8px no-repeat #008ecf;
    }
    #cool_header_block .like_post_count{
        top: 6px;
    }
    .cool-header-ask{
        width: 30px;
        height: 30px;
        overflow: hidden;
        color: #83bc37 !important;

    }

    .cool-header-ask:hover {
        background: #88c537;
        color: #88c537;
    }
    .cool-header-ask:after{
        display: block;
        font-family: FontAwesome;
        content: '\f128';
        color: #fff;
        position: absolute;
        top: 7px;
        left: 15px;
        width: 30px;
        height: 30px;
        z-index: 6;
        font-size: 18px;
        font-weight: normal;
    }

    #cool-header-arrow{
        display: none;
    }
    #cool-header-text-toc{
        width: 50px
    }
    #cool-header-text-toc:after{
        display: none;
    }
    .cool-header-show-hide {
        width: 50px;
    }
    .cool-header-toc{
        min-width: 30px;
    }
    #cool-header-text-toc{
        color: #000 !important;
    }

    #cool-header-text-toc:after {
        display: block;
        font-family: FontAwesome;
        content: '\f03a';
        color: #fff !important;
        position: relative;
        top: -16px;
        left: 16px;
        width: 50px;
        height: 30px;
        z-index: 6;
        font-size: 18px;
        font-weight: normal;
        background: none;
    }
    .cool-header-toc-elmnts{
        left: 0px;
        width: 100% !important;
    }
    .cool-header-logo img{
        max-width: 60px;
        height: auto;
        max-height: 30px;
    }
}